name: Clean install and build check with content (no deployment)

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main

jobs:
  deploy_with_NEBULA:
    if: github.event.pull_request.draft == false
    permissions:
      contents: write
    uses: esciencecenter-digital-skills/NEBULA/.github/workflows/deploy.yml@v1.5.0
    with:
      content_organization: ${{ github.repository_owner}}
      content_repository: ${{ github.event.repository.name }}
      content_ref: ${{ github.sha }}
      nebula_ref: v2.0.0
      deploy_to_ghpages: false
